{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Admin</h1>
    <div class="bike-list-admin">
        <button class="add-product-btn"><a href="{{ path('add_product') }}">Ajouter un produit</a></button>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Marque</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Valide</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td><img class="picture-100" src="{{ asset('assets/img/'~product.picture) }}" alt="{{ product.name }}"></td>
                        <td><a class="blue-link" href="{{ path('product', {'id' : product.id}) }}">{{ product.name }}</a></td>
                        <td class="text-center">{{ product.brand }}</td>
                        <td class="text-center">{{ product.productType }}</td>
                        <td class="text-center">{{ product.price }} €</td>
                        <td class="text-center">
                            <input class="update-valid-product" type="checkbox" data-id="{{ product.id }}"{% if product.isValid %} checked {% endif %}>
                        </td>
                        <td>
                            <a href="{{ path('edit_product', {'id' : product.id}) }}" title="editer">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

      document.addEventListener("DOMContentLoaded", (event) => {
          document.querySelector('tbody').addEventListener('click', updateValidProduct);
      })

      function updateValidProduct(e){
          if (e.target.className == 'update-valid-product'){

              let productId =   e.target.getAttribute('data-id');
              let httpRequest = new XMLHttpRequest();
              let url = '/update_valid_product';
              httpRequest.open('POST', url);
              httpRequest.send(productId);
              httpRequest.onload = function (){
                  let parse_response = JSON.parse(httpRequest.response)
                  if (parse_response.status == "success"){
                      addFlash('success', 'Modification enregistrée')
                  }else{
                      addFlash('error', parse_response.message)
                  }
              }
          }
      }
    </script>
{% endblock %}