<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bike shop{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{{ asset('assets/css/menu.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/13ba7978b9.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include('menu.html.twig') %}
        <div class="container">
            <div class="flash">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}

                        {% if label == 'error' %}
                            {% set icon = 'fa-triangle-exclamation' %}
                        {% elseif label == 'success' %}
                            {% set icon = 'fa-check' %}
                        {% endif %}

                        <div class="alert alert-{{ label }}">
                            <p><i class="fa-solid {{ icon }}"></i> {{ message|raw }}</p>
                            <button type="button" class="close-flash">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            {% block body %}{% endblock %}
        </div>
        <script type="text/javascript" src="{{ asset('assets/js/function.js') }}"></script>
    </body>
</html>
