<header>
    <nav>
        <div class="left-part-header">
            <a href="{{ path('product') }}">
                <h2>Bike Shop</h2>
            </a>
        </div>
        <div class="right-part-header">
            <div>
                <a href="{{ path('product') }}">
                    <i class="fa-solid fa-bicycle"></i>
                    <span>Vélos</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Panier</span>
                </a>
            </div>
{#
            <a href="#">Déconnexion</a>
            <a href="#">Connexion</a>

#}
            <div>
                <a href="{{ path('login') }}">
                    <i class="fa-solid fa-circle-user"></i>
                    <span>Connexion</span>
                </a>
            </div>
            <div>
                <a href="{{ path('logout') }}">
                    <i class="fa-solid fa-circle-user"></i>
                    <span>Déconnexion</span>
                </a>
            </div>
            <div>
                <a href="{{ path('register') }}">
                    <i class="fa-solid fa-circle-user"></i>
                    <span>Enregistrement</span>
                </a>
            </div>
        </div>
    </nav>
</header>