<header>
    <nav>
        <div class="left-part-header">
            <a href="{{ path('product_list') }}">
                <h2>Bike Shop</h2>
            </a>
        </div>
        <div class="right-part-header">
            <div>
                <a href="{{ path('product_list') }}">
                    <i class="fa-solid fa-bicycle"></i>
                    <span>Vélos</span>
                </a>
            </div>
            <div>
                <a href="{{ path('cart') }}">
                    <i class="fa-solid fa-cart-shopping"></i>

                    <span>
                        Panier
                        {% if app.session.get('cart') is not empty %}
                            ({{ app.session.get('cart')|length }})
                        {% endif %}
                    </span>
                </a>
            </div>
            {% if app.user %}
                <div>
                    <a href="{{ path('logout') }}">
                        <i class="fa-solid fa-circle-user"></i>
                        <span>Déconnexion</span>
                    </a>
                </div>
            {% else %}
                <div>
                    <a href="{{ path('login') }}">
                        <i class="fa-solid fa-circle-user"></i>
                        <span>Mon compte</span>
                    </a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <div>
                    <a href="{{ path('admin') }}">
                        <i class="fa-solid fa-user"></i>
                        <span>Admin</span>
                    </a>
                </div>
            {% endif %}

        </div>
    </nav>
</header>